<!-- % title "Intakes" % -->

<section>
  <div class="row">
   <div class="col-md-12 col-lg-12"> 
     <h1 class="text-center"><%= @map_data.description %> Intake Heatmap</h1>
   </div>
  </div>

<%= form_for_filterrific @filterrific do |f| %>
    <div class="well">

      <div class="row">
        <div class="form-group">
          <label class="control-label col-lg-3 col-md-3">Animal Type</label>
          <div class="col-md-3 col-lg-3">
            <%= f.select(:with_animal_type, @filterrific.select_options[:animal_type], class: 'form-control') %> 
          </div>

          <label class="control-label col-lg-3 col-md-3">Intake Type</label>
          <div class="col-md-3 col-lg-3">
              <%= f.select(:with_intake_type, @filterrific.select_options[:intake_type], class: 'form-control') %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="col-md-3 col-lg-3">Gender</label>
          <div class="col-md-3 col-lg-3">
            <%= f.select(:with_gender_type, @filterrific.select_options[:gender_type], class: 'form-control') %>
          </div>

          <label class="control-label col-lg-3 col-md-3">Fiscal Year</label>
          <div class="col-md-3 col-lg-3">
            <%= f.select(:with_fy_type, @filterrific.select_options[:fy_type], class: 'form-control') %>
          </div>
        </div>

      </div>

      <hr/>
      <div class="row">
        <div class="col-md-offset-5 col-md-6"/>
          <%= f.submit 'Apply Filters' %>
        </div>
      </div>

      <%= link_to('Reset Filters', reset_filterrific_url) %>
    </div>
    
  <% end %>
</section>

<section>
 
  <div class="well well-sm">
  <div class="row">
    <div class="col-md-4 col-lg-4">
      <h3 class="text-left text-success">Detailed Intake Maps:</h3>
    </div>
    <ul class="nav nav-pills">
      <% @detail_maps.to_a.each do |dm| %>
        <li role="presentation">
          <%= link_to(detail_intake_heatmaps_path(@intakes, :map_name => dm.map_name)) do %>
            <h4><span class="label label-primary"><%= "#{dm.map_name}"%></span></h4>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
  
  <p class="text-info"> Current filters are: Animal Type: [<strong><%= pp_filter(@atype) %></strong>]  Intake Type: [<strong><%= pp_filter(@itype)%></strong>]  Gender: [<strong><%= pp_filter(@gtype) %></strong>]  Fiscal Year: [<strong><%= pp_filter(@ftype) %></strong>]</p>

  <%= render(partial: "map",
             locals: { latlngs:       @latlngs, 
                       map_data:      @map_data,                           
                       max_intensity: @max_intensity, 
                       hotspots:      @hotspots,   
                       hs_detail:     @hs_detail }
           ) 
  %>
</section>


