<section>
  <div class="row">
   <div class="col-md-12 col-lg-12"> 
     <h1 class="text-center"><%= @map_data.description %>Animal Services 311 Calls Heatmap</h1>
   </div>
  </div>

<%= form_for_filterrific @filterrific do |f| %>
    <div class="well">

      <div class="row">
        <div class="form-group">
          <label class="control-label col-lg-3 col-md-3">Request Type</label>
          <div class="col-md-9 col-lg-9">
            <%= f.select(:with_sr_type, @filterrific.select_options[:sr_type], :selected => 'Loose Dog', class: 'form-control') %> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="control-label col-lg-3 col-md-3">Status Type</label>
          <div class="col-md-9 col-lg-9">
              <%= f.select(:with_sr_status_type, @filterrific.select_options[:sr_status_type], :selected => 'Open', class: 'form-control') %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group">
          <label class="control-label col-lg-3 col-md-3">Fiscal Year</label>
          <div class="col-md-3 col-lg-3">
            <%= f.select(:with_fy_type, @filterrific.select_options[:fy_type], :selected => "2015", class: 'form-control') %>
          </div>
        </div>

      </div>

      <hr/>
      <div class="row">
        <div class="col-md-offset-5 col-md-6"/>
          <%= f.submit 'Apply Filters' %>
        </div>
      </div>

      <%= link_to('Reset Filters', reset_filterrific_url) %>
    </div>
    
  <% end %>

  <div class="well well-sm">
    <div class="row">
      <div class="col-md-4 col-lg-4">
        <h3 class="text-left text-success">Detailed 311 Calls Maps:</h3>
      </div>
      <ul class="nav nav-pills">
        <% @detail_maps.to_a.each do |dm| %>
          <li role="presentation">
            <%= link_to(detail_animal_services311_heatmaps_path(@animal_services311_calls, :map_name => dm.map_name)) do %>
              <h4><span class="label label-primary"><%= "#{dm.map_name}"%></span></h4>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <p> Max intensity is <%= @max_intensity %> for <%= @latlngs.size %> records</p>
   <%= render(
       partial: 'map',
       locals: { latlngs: @latlngs, map_data: @map_data, max_intensity: @max_intensity, hotspots: @hotspots, hs_detail: @hs_detail }
     ) %>

</section>

