  <div class="row">
   <div class="col-md-12 col-lg-12">
     <h1 class="text-center">Intake Metrics</h1>
   </div>
  </div>

  <div class="container">
    <div class="row">
      <hr/>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <%= render(
              partial: "intakes_by_day",
              locals: { intakes_by_day: @intakes_by_day, id: 'intakes_by_day' }
            )
        %>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <%= render(
              partial: "intakes_by_week",
              locals: { intakes_by_week: @intakes_by_week, id: 'intakes_by_week' }
            )
        %>
      </div>
    </div>
    <div class="row">
      <hr/>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <%= render(
              partial: "intakes_by_month",
              locals: { intakes_by_month: @intakes_by_month, id: 'intakes_by_month' }
            )
        %>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <%= render(
              partial: "intakes_by_quarter",
              locals: { intakes_by_quarter: @intakes_by_quarter, id: 'intakes_by_quarter' }
            )
        %>
      </div>
    </div>
    <div class="row">
      <hr/>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <%= render(
              partial: "intakes_by_zip_code",
              locals: { intakes_by_zip_code: @intakes_by_zip_code, id: 'intakes_by_zip_code' }
            )
        %>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
        <%= render(
            partial: "intakes_by_gender",
            locals: { intakes_by_gender: @intakes_by_gender, id: 'intakes_by_gender' }
          )
        %>
      </div>
    </div>
    <div class="row">
      <hr/>
    </div>
  </div>
