<%# Navigation header for Fetch app %>
<section>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" 
                class="navbar-toggle collapsed"
                data-toggle="collapse" 
                data-target="#fetchit-main-menu-1" 
                aria-expanded="false">
          <span class="sr-only">Toggle Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <span class="fetchit-red">FetchIt!</span> <span class="fetchit-green">Analytics</span>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="fetchit-main-menu-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Animals", animals_path %></li>
          <li class= "dropdown">
              <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Visualizations<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="vis-menu">
                  <li role="presentation"><%= link_to "Intakes Heatmap", intake_heatmaps_path %></li>
                  <li role="presentation"><%= link_to "Outcomes Heatmap", outcome_heatmaps_path %></li>
                  <li role="presentation"><%= link_to "Animal Services 311 Calls Heatmap", animal_services311_heatmaps_path %></li>
                </ul>
              </a>
          </li>
          <li role="separator" class="divider"></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to(destroy_user_session_path, method: :delete) do %>
              <span class="label label-warning bg-warning">Log Out</span>
              <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
